[2021-01-18 13:58] chiraag-kakar opened #2 "Beautify the Navbar"
## The following changes need to be implemented in the navbar section :
* Make the navbar sticky and *add* a nice *background color* to the navbar section.
* Implement the *button hover effects* in the menus.
* The navbar should be *responsive*.
* It should have *drawer navigation* in responsive view.

[2021-01-18 14:04] chiraag-kakar opened #3 "Remove external dependencies"
### External Dependencies that need be to removed are :
* Google Fonts
* Bootstrap
* DataTables
* Any other CDNs found

[2021-01-18 14:19] chiraag-kakar opened #4 "Improve Contact Section"
The improvements that need to be made in the contact section include :
* Implementing a Contact Form for collecting users' queries.
* Add SMTP configuration in the settings.py module
* Creating a new view for the contact page (template) that utilizes *SMTP* for sending contact form responses to the configured Gmail account.

[2021-01-18 15:08] chiraag-kakar opened #5 "Add Footer Section"
The following elements need to be added in the Footer section :
* The Background color class for the footer should be `dark`.
* The foreground color for the elements should be `white`.
* Include a small *iframe of Google Maps* in the right corner of the footer section.
* Social Media icons to be included: *Linkedin, Facebook, Twitter, Instagram*. (currently, they should be linked to `#`)
*  The co

[2021-01-18 15:17] chiraag-kakar opened #6 "Improve the User Sign Up / Sign In Page User Interface"
* Replace the existing basic user interface with a better and clean one.
* The Form should be responsive, clean, and minimally animated.

[2021-01-18 15:20] chiraag-kakar opened #7 "Improve the User Interface for Admin Log In Page"
* Replace the existing basic user interface with a better and clean one.
* The Form should be responsive, clean, and minimally animated.

[2021-01-18 15:26] chiraag-kakar opened #8 "Secure Django Admin"
* Secure the Django admin panel by making use of a package called *Admin-Honey-Pot*.

[*Django-Admin-Honeypot* is a fake Django admin login screen that will replace the admin login page with a fake admin login form.]

* This feature can be used to track the malicious attempts to access the Django admin.

[2021-01-18 15:31] chiraag-kakar opened #9 "Create Sitemap"
* Create an XML sitemap for the web application.
* Include a link to the sitemap somewhere in the footer section.
* Any suitable package that is compatible with the dependencies and Django version is accepted

[2021-01-19 10:13] codeit13 commented on #4
I want to work on this issue.
And also where are we hosting this website.

[2021-01-19 11:03] chiraag-kakar commented on #4
@codeit13 , can't assign the issue before 21st , till then check out the codebase and get the project running locally :)
Currently the website is being hosted in the pythonanywhere server.

[Click here to view the deployed app](https://wecreate.pythonanywhere.com)

[2021-01-19 12:57] pankajkumarbij commented on #2
I would like to work as a participant in JWOC.

[2021-01-19 12:57] luckykumarirai commented on #5
I would like to contribute to this issue as a participant of jwoc.

[2021-01-19 12:59] luckykumarirai commented on #7
I would like to contribute to this issue.

[2021-01-19 12:59] pankajkumarbij commented on #6
I would like to work on this issue as a participant of JWOC.

[2021-01-19 13:27] chiraag-kakar commented on #5
@luckykumarirai you can follow the readme to get a know-how of project setup. Issues can't be assigned before 21st Jan

[2021-01-19 13:28] chiraag-kakar commented on #2
@pankajkumarbij follow the README and try to set up and run the project locally.

[2021-01-19 13:28] chiraag-kakar commented on #2
Issues can't be assigned before 21st Jan

[2021-01-19 13:30] chiraag-kakar commented on #6
@pankajkumarbij follow the project setup docs and feel free to ping any queries in the project channel of JWOC. Issues can't be assigned before 21st Jan

[2021-01-19 13:33] chiraag-kakar commented on #7
@luckykumarirai , follow the project setup docs and try to run it locally. It's great to see that you are interested to attempt the issue. But issues can't be assigned before 21st Jan.

[2021-01-19 14:41] chiraag-kakar opened #10 "Add form validation for user sign up / sign in page"
The form validation should be for the following fields :
* First Name
* Last Name
* Email
* Department
* Contact
* Role
* Password
Note: Make all the fields *required*

[2021-01-19 15:34] chiraag-kakar opened #11 "Add form validation for the admin login page"
* Validate the form elements and make the fields required.

[2021-01-20 03:31] magjoy6 commented on #11
bhaiya @chiraag-kakar , I would like to fix this issue.

[2021-01-20 03:33] magjoy6 commented on #10
I also want to fix this issue.

[2021-01-20 06:32] codeit13 commented on #4
OK. Thanks

[2021-01-20 16:41] uttu2 commented on #10
I would like to contribute to this.

[2021-01-20 18:45] Malvika18 commented on #7
can i work on this

[2021-01-20 18:47] Malvika18 commented on #6
can i contribute to this

[2021-01-20 20:35] amanjha8100 commented on #4
I want to work on the issue.

[2021-01-21 03:07] Abhra303 commented on #9
want to work on this issue....

[2021-01-21 03:07] Abhra303 commented on #9
As a JWOC mentee

[2021-01-21 06:22] 7saikat7 commented on #8
sir from JWOC , i want to work on it .....please assign me

[2021-01-21 06:24] 7saikat7 commented on #9
sir i also want to work on that issue .... a default site map which django will create ,  i am also from JWOC ,It will be really helpful if  you assign me that

[2021-01-21 06:33] 7saikat7 commented on #4
I can work on it , we can also try  email verification to eliminate the spam user ...how it will be sir ?

[2021-01-21 06:35] Pabitra145 commented on #2
https://jwoc2k20.tech/

[2021-01-21 06:35] Pabitra145 commented on #2
As a part of jwoc , i  would like to work on it

[2021-01-21 06:36] Pabitra145 commented on #5
As a part of JWOC I would like to work on it

[2021-01-21 06:36] Pabitra145 commented on #6
As a part of JWOC I would like to work on it

[2021-01-21 08:06] chiraag-kakar commented on #9
@Abhra303 , Okay I am assigning this issue to you. You can ping your queries in the project channel and progress in the issue thread.

[2021-01-21 08:22] magjoy6 commented on #11
and I am from JWoC  itself

[2021-01-21 09:07] nilisha-jais commented on #2
I would like to work on it(Participant of JWOC)

[2021-01-21 09:41] Vinamrata1086 commented on #2
Can I work on this issue?(JWOC)

[2021-01-21 09:44] chiraag-kakar commented on #4
@amanjha8100  , I am assigning this issue to you. Make sure you are able to solve it on time else the issue will be assigned to next participant.

[2021-01-21 09:59] chiraag-kakar commented on #6
@Malvika18 , Assigning this issue to you. Issues labelled easy need to solved in 1 day else it will assigned to the next participant.

[2021-01-21 10:25] djm-1 commented on #10
I would like to work on this issue. Assign it to me for JWoC

[2021-01-21 10:36] djm-1 commented on #2
I would like to add a great looking navbar along with a logo. Please assign this to me for JWOC

[2021-01-21 10:42] djm-1 opened #12 "Enhancing the /upload_notes page"
I want to work on the front end of this page https://wecreate.pythonanywhere.com/upload_notes. Including a custom file upload button, beautifying the form and complete layout. Can you assign this to me for JWOC ?

[2021-01-21 11:02] amanjha8100 commented on #4
ok bhaiya

[2021-01-21 11:32] chiraag-kakar commented on #2
@Pabitra145 , @Vinamrata1086, @djm-1 only one can be assigned an issue at a time. If the issue is not solved by the assignee in 1 day then it will be assigned to the next participant.

[2021-01-21 11:34] chiraag-kakar commented on #5
@Pabitra145 I am assigning this issue to you

[2021-01-21 11:35] Pabitra145 commented on #5
Thank you sir

On Thu, Jan 21, 2021, 5:04 PM Chiraag Kakar <notifications@github.com>
wrote:

[2021-01-21 11:38] chiraag-kakar commented on #12
@djm-1 I am assigning this issue to you.
Please add the relevant labels to this issue

[2021-01-21 11:48] chiraag-kakar commented on #4
@7saikat7 , If the issue is not solved by @amanjha8100 then you will be assigned this issue after a period of 3 days.

[2021-01-21 11:51] djm-1 commented on #12
Thank you

[2021-01-21 12:03] chiraag-kakar commented on #10
@uttu2, before I assign this issue to you can you brief how you're gonna implement this feature ?

[2021-01-21 13:29] 7saikat7 opened #13 "[ GETTING STARTED ] # step 7 , problem creating superuser ."
after moving to manage.py directory .....follow these steps

1>  python manage.py makemigrations
2>  python manage.py migrate
3>  python manage.py createsuperuser

[2021-01-21 15:18] uttu2 commented on #10
@chiraag-kakar I think that modifying signup function in views.py by adding various check like f variable where firstname is being recieved should be a string and similarly for other fields should do it. Required field can be made just by adding required in the html tag should do it.
I am new to this so i am still reading about it .

[2021-01-21 16:13] Abhra303 opened #15 "Notes Model has no field called "signup""
The notes model has no field called signup. But the str method of notes model returns self.signup.user.username which does not exist. For this reason django is throwing error when saving notes objects.
![image](https://user-images.githubusercontent.com/75240995/105378175-8cc7f680-5c31-11eb-9c89-33c3c15d49b8.png)

[2021-01-21 16:20] Abhra303 opened #16 "A django depricated tag "ifequal" is used in templates"
django "ifequal" tag is used in the templates for this project. But "ifequal" tag is deprecated since version 3.1.

[2021-01-21 19:07] chiraag-kakar commented on #10
@uttu2 I am assigning this issue to you

[2021-01-21 19:21] 435akashjha commented on #7
I want to work on this issue

[2021-01-21 19:28] chiraag-kakar commented on #7
@435akashjha , I am assigning this issue to you.

[2021-01-21 20:21] harshita2216 commented on #13
I would like to contribute to this issue. (JWOC Mentee)

[2021-01-22 06:37] djm-1 commented on #12
I have created the PR. https://github.com/chiraag-kakar/sharenlearn/pull/20

[2021-01-22 06:41] Malvika18 commented on #6
@chiraag-kakar please review my PR

[2021-01-22 09:33] Abhra303 commented on #15
Hello I want to contribute in this issue under jwoc

[2021-01-22 11:18] chiraag-kakar commented on #15
@Abhra303  , I am assigning this issue to you :)

[2021-01-22 11:22] codeit13 opened #26 "CI Pipeline from Github to PythonAnywhere"
Create a pipeline where Codebase from this Github Repo (main) will be pushed to Pythonanywhere servers on every push in the main branch.

[2021-01-22 11:28] chiraag-kakar commented on #26
@codeit13 , I am assigning you this issue but please try to add some description to your issue

[2021-01-22 16:21] magjoy6 commented on #3
I want to work on this issue...  please assign me that

[2021-01-22 16:22] magjoy6 commented on #3
@chiraag-kakar

[2021-01-22 19:36] #9 closed

[2021-01-23 13:22] amanjha8100 opened #30 "Contact Page UI needs to be improved and made responsive as well."
Contact Page and Forms UI needs to be improved.
Internal CSS needs to be applied.
The Page should be made responsive.

[2021-01-23 13:22] #15 closed

[2021-01-24 02:55] nilisha-jais opened #35 "Customize the admin navbar"
• Make the navbar side drawer
• Add the button hover effects in the menu
•  Create a sub menu inside the main menu with the same effects
• The navbar should be responsive

[2021-01-24 08:28] #4 closed

[2021-01-24 08:28] #2 closed

[2021-01-24 08:30] #6 closed

[2021-01-24 08:30] #12 closed

[2021-01-24 08:31] #8 closed

[2021-01-24 08:35] #13 closed

[2021-01-24 15:36] amanjha8100 commented on #30
okay bhaiya......I will do this.

[2021-01-24 16:42] chiraag-kakar commented on #5
@Pabitra145 , as you have not reverted , I am unassigning the issue to you

[2021-01-24 16:48] harshita2216 commented on #5
I would like to contribute to this issue. (JWoC Mentee)

[2021-01-25 10:52] shreetama123 commented on #5
hello, I want to work in this issue

[2021-01-25 18:14] #26 closed

[2021-01-26 06:54] #35 closed

[2021-01-26 08:22] Abhra303 opened #41 "Home page for logged in admin does not contain admin options in navbar"
When an admin clicks on the home button, other links such as 'view notes','view users' etc. are gone. To use those features admin have to again log in to the website despite of being already logged in. Here the images -
![image](https://user-images.githubusercontent.com/75240995/105818795-5a294f80-5fdd-11eb-9a6d-b5acd3e5c7af.png)

after clicking the home button other links are gone -
![image](http

[2021-01-26 08:27] Abhra303 commented on #41
I would like to work on it.

[2021-01-26 12:02] Abhra303 commented on #41
I want to contribute in it.

[2021-01-26 12:03] Abhra303 commented on #16
I want to contribute in it.

[2021-01-26 19:35] chiraag-kakar opened #42 "Customize the Navbar in the following pages"
- Following templates need to be customized (should be responsive) :
- - navigation.html
- - usernavigation.html

Note: Stick to the color palette as given in the admin_nav.html

[2021-01-26 19:38] harshita2216 commented on #42
I want to contribute to this issue.

[2021-01-27 06:31] harshita2216 commented on #5
#44

[2021-01-27 11:16] nilisha-jais opened #45 "Update the about us page"

[2021-02-01 18:23] #45 closed

[2021-02-03 16:33] harshita2216 opened #51 "About page is not rendering"

[2021-02-03 16:35] codeit13 commented on #51
Can I work on this issue please. 😋

[2021-02-03 16:36] harshita2216 commented on #51
Go ahead. @codeit13 xD

[2021-02-04 13:03] #51 closed

[2021-02-04 13:03] #16 closed

[2021-02-04 13:06] #42 closed

[2021-02-05 14:20] nilisha-jais opened #53 "Improper functionality of the about page"
<a href="https://nilisha-jaiswal.000webhostapp.com/about5.html">Reference</a>

[2021-02-05 15:56] 435akashjha commented on #11
I will fix this issue assign to me

[2021-02-07 07:39] 7saikat7 commented on #10
we can use form validation like if
from  p= name.cleaned_data
and if p.is_valid :
       pro=p.save(commit=false)
       pro.save()

something like that !

[2021-02-07 13:26] harshita2216 commented on #53
I wish to contribute to this issue.

[2021-02-07 16:40] #5 closed

[2021-02-09 14:36] codeit13 opened #55 "Chat Bot Development"
A FAQ chatbot for the website.

Following Chips will be made in the bot alongside the FAQ section
1) REQUEST MATERIAL --> For requesting additional Study Material in the Site.
2)REQUEST FEATURE --> For requesting additional features in the Site

[2021-02-09 14:59] 435akashjha commented on #10
Are you contributing to this issue or should I work Saikat on this

[2021-02-09 15:04] Swatilekha-Roy opened #56 "Solving issue for signup and upload notes section"
- Changing the tags to original state

https://github.com/chiraag-kakar/sharenlearn/commit/c2ae51662d874af7440aff51dce2a43a9728504d#diff-7399de540195df78d9f82c1d44633cdb2bc889933274e76b17ef1ea3ccb3402a

[2021-02-09 15:05] Swatilekha-Roy commented on #56
I really want to contribute to this issue please, could you kindly assign me? Thanks.
My Discord id is oh_laugh_hugs and I am a mentee in JWOC.

[2021-02-09 18:25] #53 closed

[2021-02-10 16:12] harshita2216 opened #59 "Integrate Weather API"

[2021-02-11 04:11] pankajkumarbij commented on #11
I would like to work on this issue, please assign it to me.

[2021-02-11 07:33] chiraag-kakar commented on #59
@harshita2216 , I am assigning the issue to you , but do add description to your issue as where and how are you planning to bring in the enhancement to the project :)

[2021-02-16 14:44] #56 closed

[2021-02-16 17:07] harshita2216 opened #62 "Improve signup page"
1. Form should take up maximum horizontal space in desktop mode.
2. Unnecessary margin and padding should be removed.
3. Form should be responsive.

![image](https://user-images.githubusercontent.com/65803563/108096084-9153c380-70a6-11eb-9844-4f2c39a3bdfc.png)

![image](https://user-images.githubusercontent.com/65803563/108096202-b3e5dc80-70a6-11eb-8e2f-c02656fd67af.png)

PS - I wish to contribute

[2021-02-17 14:28] harshita2216 commented on #62
changes committed in #60

[2021-02-17 17:16] #62 closed

[2021-02-17 17:17] #59 closed

[2021-02-18 15:47] harshita2216 commented on #30
#64

[2021-02-24 17:49] #30 closed

[2021-02-24 17:50] #11 closed

[2021-02-24 17:51] #10 closed

[2021-02-24 17:57] #41 closed

[2021-02-28 17:33] kunal299 commented on #55
@codeit13 Hey, I would love to contribute to this issue as a part of Gssoc'21. Could you plz assign me?

[2021-03-06 06:57] nikitajuneja1 commented on #7
Hi, I would love to work on this issue. Please assign it to me.

[2021-03-08 19:51] micksharma commented on #7
Can I work on this issue as a GSSOC 2021 participant.

[2021-03-08 19:52] micksharma commented on #3
Can I work on this issue as a GSSOC 2021 participant.

[2021-03-09 05:28] subhangi2731 commented on #3
can you please assign it to me?

[2021-03-09 05:37] machine-sg commented on #7
I am a GSSOC'21 participant and I wish to work on this . Hope to hear back from you .
There will be 3 parts of this page
1) Header with navbar
2) Main body
3) Footer
Thank you .

[2021-03-09 05:40] harshita2216 commented on #55
Hi @chiraag-kakar. I'd like to contribute to this issue.

[2021-03-09 08:08] WaderManasi opened #66 "Feat : Improving contact form UI"
### Improving contact form UI with latest styling design (keeping in mind the color scheme of website),

### I would like to work on it, as part of gssoc'21

![contact](https://user-images.githubusercontent.com/52437677/110438611-9079e480-80dc-11eb-9fab-0755cfeeaf56.PNG)

[2021-03-09 09:16] RaveenaBhasin commented on #66
Please assign it to me

[2021-03-09 11:47] srisatya1197 commented on #66
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 14:19] kalpanapurohit commented on #7
I would like to work on this issue as a GSSOC'21 participant.

[2021-03-10 07:20] jkrlr opened #67 "Account activation via email confirmation"
When someone creating an account on Share N Learn website, a user can register via fake email id as shown in screenshot below.
So, to avoid dummy creating dummy accounts. We should verify the user by sending the activation link on their email id.

As a participant of GSSoC'21. I would like to work on this issue.
@chiraag-kakar Please assign this issue to me.

![Screenshot from 2021-03-10 12-26-29]

[2021-03-10 11:53] Anshika-Srivastava commented on #66
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-10 17:47] Koderz-SI commented on #66
I would like to contribute to this issue as a part of GSSOC'21!
Changes that would like to do:
1. Since the background has a cosmo effect.. we can use glass morphism.
2. The button can be given a gradient look as well.

[2021-03-10 17:50] SanskritiKushik5 commented on #66
I would like to contribute to this issue as a part of GSSOC'21!
Changes that would like to do:
1. Since the background has a cosmo effect.. we can use glass morphism.
2. The button can be given a gradient look as well.

[2021-03-10 21:19] nikfzy opened #68 "Custom User model to overide default django user model"
Would like to override default user model of django to store user data according to the needs of platform.

[2021-03-11 06:52] shreya9301 opened #69 "Revamping the Navbar and user login form"
![sharenlearn_issue1](https://user-images.githubusercontent.com/65105127/110746984-ab2a9580-8263-11eb-898f-a255edc37105.PNG)
### As a GSSoc'21 participant, I would like to revamp the navbar and user login form. Please allow me to work on this issue.

[2021-03-11 09:11] mohammedjameel24 opened #70 "fix laggy about page"
fixing the stutter in the about page

[2021-03-11 13:27] ayushgupta0110 commented on #7
I would like to contribute to this issue. Kindly assign this to me as a part of GSSoc'21.

[2021-03-11 14:20] Debashish-hub opened #71 "Scroll back to top button and chatbot"
Hello! I am a GSSOC'21 participant.

The scroll back to top button and a chatbot are the basic requirements for a website.
That would also help in customer engagement.

@chiraag-kakar I would like to work on this issue

[2021-03-11 18:53] oneknucklehead opened #72 "adding the website logo to the navbar, changing the color coding and the navbar style"
the website logo is missing from the navbar and also the color-coding of the website is quite bland. The navbar should be shifted toward the right with the website logo to the left. The website needs an overall change.
Can I get assigned to this issue?

[2021-03-11 19:08] GarimaKhare15 commented on #7
I would like to work on this issue . Please assign this to me .
I'm a GSSOC'21 participant.

[2021-03-12 11:15] Equinox-13 opened #73 "Add reCaptcha checkbox on login page"
@amanjha8100 I would like to add the Recaptcha checkbox on the login page as a GSSoC'21 participant.
Please assign this issue to me.
![image](https://user-images.githubusercontent.com/36486238/110932551-aba15a00-8351-11eb-8ee9-261e7c3bbc55.png)

Thank you.

[2021-03-12 11:50] amanjha8100 commented on #71
The Chat-Bot issue is already opened.

[2021-03-12 12:03] MayankBeck commented on #73
I would like to work on this issue under GSSoC 21. please assign this task to me. My discord id in GSSOC(GS)'s server is Mayank(P)#9695 .

[2021-03-12 12:23] Debashish-hub commented on #71
Can I work on scroll to top button only?

[2021-03-12 13:40] rohank2502 opened #74 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:40] rohank2502 opened #75 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 18:03] amanjha8100 commented on #55
@harshita2216 I am assigning this issue to you. It is a level three issue you have 5 days to solve this issue and submit the PR for the same.

[2021-03-12 18:06] amanjha8100 commented on #67
@jkrlr I am assigning this issue to you.

[2021-03-12 18:08] amanjha8100 commented on #73
@Equinox-13 I am assigning this issue to you. If he is not able to complete it then Mayank you can try.

[2021-03-12 18:11] amanjha8100 commented on #7
@nikitajuneja1 assigned this issue to you.

[2021-03-12 22:00] flyingsonu122 opened #76 "signup is not working"
after adding details then pressing sign up give this error ⬇️
![image](https://user-images.githubusercontent.com/51280276/111002914-3adb5b80-83ac-11eb-9bbd-c7c1180ee07c.png)

[2021-03-13 05:20] ManuGupta9780 opened #77 "Changing the target link of the navbar item (after user login)"Home" and adding logo to the Navbar."
1. Currently, after we login to the website, the nav-bar item "HOME" directs us to the profile page of the user. Instead, it should direct the user to the initial home page of the "Share N Learn" website for better UI. User profile page can be reached through the profile option under the "welcome user" dropdown item.

2. Currently the NavBar doesn't contain the "sharenlearn" logo. Also, the Navbar

[2021-03-13 07:16] icoderharshit opened #78 "Bug: Responsive Login Page"
Login page at present is not fully responsive. So, I want to make it responsive as a part of GSSoC'21. @chiraag-kakar Kindly assign me this issue so that I can do as mentioned.
#GSSoC'21.

[2021-03-13 07:18] harshita2216 commented on #55
@amanjha8100 I am now one of the mentors of Share N Learn.

[2021-03-13 08:12] amanjha8100 commented on #55
This issue is up for grab.

[2021-03-13 08:57] amanjha8100 commented on #76
@flyingsonu122  Assigned this issue to you.

[2021-03-13 08:59] viraldevpb commented on #67
I am getting this error to set up this project on my local machine can anybody please help me.
![error](https://user-images.githubusercontent.com/66899360/111025153-6b50e300-8408-11eb-8d45-c9054d189951.png)

[2021-03-13 10:26] Dimple115 commented on #77
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:26] Dimple115 commented on #7
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me. @amanjha8100

[2021-03-13 10:27] tanishq-arya commented on #55
Hi @amanjha8100  I am interested in working on this issue under GSSOC. I am new to opensource as well I have not made a chatbot before. If you could point me in the right direction I can learn and work on this issue side by side.

[2021-03-13 10:36] sk1122 opened #79 "Show Uploaded Images Preview in Browser"
Currently, we cannot preview an image and we need to download and preview them.
![Screenshot_20210313_160717](https://user-images.githubusercontent.com/40713709/111027425-45323f80-8416-11eb-86ad-cf85d9d23267.png)

But instead of it, We can create an Image Previewer - which would preview images without the need of downloading them.

We can create a Carousel of all uploaded image or images present o

[2021-03-13 12:09] rk05-lenavo commented on #76
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:32] flyingsonu122 commented on #76
It is already assigned to me

[2021-03-13 12:52] aashishah opened #80 "Revamping the landing page to be more attractive"
The landing page of the website looks very dull and unattractive and I would like to redesign it as well as add an "about this app", "meet the team" etc. sections.

[2021-03-13 12:53] aashishah commented on #80
I'd love to work on this issue under GSSOC'21, so it'd be great if you could assign it to me. Thank you!

[2021-03-13 13:37] Vanshikaa00 opened #81 "Revamping Sign Up Form"
Hello!! I would like to revamp the sign up form as it looks really basic. Can you please assign me to work upon it under GSSOC'21

![image](https://user-images.githubusercontent.com/53425575/111031785-399f4280-842f-11eb-877f-86f734421a21.png)

[2021-03-13 15:19] #71 closed

[2021-03-13 15:22] Debashish-hub opened #82 "Scroll back to top button"
Hello everyone!

I am a GSSOC'21 participant.
I want to work on scroll back to top button for the website.

@chiraag-kakar It will be great if I will get assigned on this issue. Thank you

[2021-03-14 06:35] nikhilkotiya opened #83 "Forgot Password."
In project there is no way to forgot password if user not remember his password. Can you please assign this to me?

[2021-03-14 08:40] viraldevpb opened #84 "Website web address error in Readme.md File"
Hii, @chiraag-kakar I am Prathamesh Borse I would like to improve the website link address in Readme.md there was a problem with this Documentation can u Please assign this to me. :)
![error](https://user-images.githubusercontent.com/66899360/111062469-fac0c980-84ce-11eb-9c2a-7d1ec2ff4772.png)

[2021-03-14 08:41] #84 closed

[2021-03-14 08:43] viraldevpb opened #85 "Website web Address error in Readme.md File"
Hii, @chiraag-kakar I am Prathamesh Borse I would like to improve the website link address in Readme.md there was a problem with this Documentation can u Please assign this to me. :)
![error](https://user-images.githubusercontent.com/66899360/111062469-fac0c980-84ce-11eb-9c2a-7d1ec2ff4772.png)

[2021-03-14 08:45] viraldevpb commented on #85
I am a Participant for GSSoC'21 and label this issue as GSSoC'21.

[2021-03-14 10:17] jkrlr commented on #67
@amanjha8100 Can you please guide me how to resolve this error that I'm getting while installing requirements.txt file.

![Screenshot from 2021-03-14 15-38-14](https://user-images.githubusercontent.com/63921263/111064793-239b8b80-84dc-11eb-945b-5604d965965f.png)

[2021-03-14 10:25] n-coder2k opened #87 "Improving Header bar"
I would like to improve header .

[2021-03-14 10:27] fatma-sia27 opened #88 "Adding some images related to this website"
Hey, I visited your website and I found that if  we will add some photos reated to books ansd all then it will look more creative and decent. So I can do that please assign this issue to me.
Thank you

[2021-03-14 12:31] amanjha8100 commented on #67
Guys, plzz contact me on discord, I will help you out.

[2021-03-14 16:31] anjali1102 commented on #55
/assign

[2021-03-14 17:47] harshita2216 commented on #66
@WaderManasi Make sure you only make changes to the UI.

[2021-03-14 17:52] WaderManasi commented on #66
Sure @harshita2216

[2021-03-14 18:13] mohammedjameel24 opened #89 "A blogpost page for share&learn"
To make home page more interactive
This will help us provide typed content and source pdfs or content notes

[2021-03-15 08:03] harshita2216 commented on #69
@shreya9301 For now, only work on the user login form.

[2021-03-15 08:06] viraldevpb commented on #67
Send Me the link of the Discord.

On Sun, Mar 14, 2021, 6:02 PM Aman Prakash Jha ***@***.***>
wrote:

[2021-03-15 08:29] shreya9301 commented on #69
Sure I'll work on that. Thank you @harshita2216 for assigning this issue to me :)

[2021-03-15 09:07] tanishq-arya commented on #55
Should I  follow rasa tutorial for chatbot or the python one ?

[2021-03-15 11:34] WaderManasi opened #90 "[Feat]: Adding Development Environment Setup for Linux Platforms"
Steps for creating setup of the project on the Linux platforms is not mentioned in README.MD file.
I would like to contribute on this being part of gssoc'21.

[2021-03-15 13:07] amanjha8100 commented on #77
Will you create the logo yourself?

[2021-03-15 13:18] ManuGupta9780 commented on #77
@amanjha8100  I did not create the logo by myself. It was given in your readme file. It appeared that it might be the logo.

[2021-03-15 13:35] kumarishalini6 opened #91 "In sign up page :- Contact validation of 10 digit"
In sign up form there should be  validation of 10 digit number . I want to work on this issue as a participate of gssoc21 .

[2021-03-15 13:47] amanjha8100 commented on #91
Issue assigned.

[2021-03-15 14:06] jkrlr opened #92 "Update README.md"
As you mentioned on discord this project has been made in python3.7(After knowing this fact I have locally setup this project via python3.7 without updating the requirements.txt file). So, I want to update python downloading link to python version 3.7 and mention the steps to creating virtualenv by python3.7. So, that a new contributor wouldn't be required to update requirements.txt

Also, I want

[2021-03-15 14:30] mohammedjameel24 commented on #70
While setting up the project locally
Got this error while installing requirements.txt

# No matching distribution found for pycryptodome==3.9.8_

[2021-03-15 14:39] mohammedjameel24 commented on #70
Am not able to set it up locally

[2021-03-15 15:06] ashutoshkrris commented on #67
because you are inside the myenv directory.
Just come one step back using `cd ..` and then run the command

[2021-03-16 02:10] viraldevpb commented on #67
@ashutoshkrris  But we have to install requirements.txt on our environment as mentioned in the Readme.md File.

[2021-03-16 02:27] ashutoshkrris commented on #67
Yes
But it doesn't mean , that you have to install the requirements in the myenv directory.
It means, first activate the enviroment using `. myenv/Scripts/activate` and then install the requirements

[2021-03-16 05:54] flyingsonu122 opened #96 "make code of conduct in markdown"
I want to make code of conduct from .pdf to .md (.md)

@chiraag-kakar @harshita2216  @amanjha8100 please assign this to me

[2021-03-16 06:33] flyingsonu122 opened #98 "add myvenv in .gitignore file"
add this so that local files of **virtual environment** in not uploaded to GitHub

this is very much required see size here

![image](https://user-images.githubusercontent.com/51280276/111266379-7ac26d00-8650-11eb-9c32-0a304d6d4472.png)

[2021-03-16 06:36] flyingsonu122 commented on #98
@chiraag-kakar @harshita2216 @amanjha8100 please assign this to me

[2021-03-16 08:21] rising-entropy opened #99 "Improving the Navigation Bar."
The current Navigation bar is functional, but not that attractive. I can do that, also have the logo of the site up there and clean it up a notch.
Please assign it to me, thanks!!

[2021-03-16 08:23] rising-entropy opened #100 "Improvising the Contact Us Page."
The current contact us page would bode well with better UI and simple animation and validation.
Would love to work on that!
Kindly assign this to me.
Thanks so much!!

[2021-03-16 08:27] rising-entropy opened #101 "Improvising the Admin Login UI."
I would fix some errors on the page and give it a bit of custom styling to make it more attractive.
Kindly assign the issue to me! Thanks so much.

[2021-03-16 09:06] Aryamanz29 opened #103 "[Need] Issue and PR templates"
Currently there no issue and PR templates in this repo

[2021-03-16 09:07] Aryamanz29 commented on #103
I would like to work on this issue , Please add relevant labels and kindly assign it to me

[2021-03-16 09:15] viraldevpb commented on #92
@jkrlr can u send the discord link?

[2021-03-16 10:22] jkrlr commented on #92
@viraldevpb I'm not a mentor or admin of this project. So , I haven't privileged to send discord link. You may asks for mentors or the project admin for regarding this. One thing is that If you are on official discord server of GSSOC'21 , you can can find there this as well as other GSSOC projects link.

[2021-03-16 10:42] #101 closed

[2021-03-16 10:42] #100 closed

[2021-03-16 10:42] #99 closed

[2021-03-16 13:31] amanjha8100 commented on #70
I have solved this problem, do check conversations in project channel.

[2021-03-16 13:34] mohammedjameel24 commented on #70
Couldn't find Angy channel link

[2021-03-16 13:42] amanjha8100 commented on #98
Ok, is this a issue, different people may choose to name virtual environment's differently. I name them as vir, Project Admin probably names them as virtual, which he has included in his .gitignore , you may choose to name them as myvenv. Everyone while setting up this project should take care of this issue by themselves. Otherwise we would have to add a lot of names n .gitignore.

[2021-03-16 13:59] amanjha8100 commented on #70
U r in gssoc right?

[2021-03-16 14:07] mohammedjameel24 commented on #70
Yes ok understood discord

[2021-03-16 14:09] flyingsonu122 commented on #98
You have written a guide on readme.md about that

[2021-03-16 14:10] flyingsonu122 commented on #98
Or else you can write there to include the created virtual name in .gitignore file

[2021-03-16 16:23] mohammedjameel24 opened #105 "DARK MODE UI"
##Dark Mode UI

[2021-03-16 17:12] pranjalg13 opened #106 "Prevention of logged in user from visiting login/signup page and updated the navbar"
The main issue was the logged-in user, can visit the login page by just going to localhost/index page, even they are logged in they can see the login and admin login navbar.
Secondly, there should be an option to visit the index page from the profile page, so I add the URL for that.

[2021-03-16 17:16] pranjalg13 commented on #106
@chiraag-kakar Please review the PR and let me know the feedback.
Thanks in advance.

[2021-03-16 18:35] dhananjayd1729 opened #108 "Making contact form more attractive."
Hey @chiraag-kakar @harshita2216 @amanjha8100 ,since the contact page looks too simple and old school, can I make it more attractive so that UI will look much better than now? I'm GSSOC'21 participant can I work on this?

![Screenshot from 2021-03-17 00-02-17](https://user-images.githubusercontent.com/61632269/111361955-46809800-86b4-11eb-9d99-e2228fd89221.png)

[2021-03-16 21:24] 435akashjha commented on #92
@harshita2216 Can you assign this issue to me

[2021-03-16 21:25] 435akashjha commented on #91
@amanjha8100 Can I work on this issue and solve it

[2021-03-16 21:27] 435akashjha commented on #82
@harshita2216 Can you assign this issue to me for solving

[2021-03-16 21:29] 435akashjha commented on #73
@amanjha8100 Can I  work on this issue and solve it

[2021-03-16 21:43] 435akashjha opened #109 "Creating profile picture section in signup form"
Creating a profile picture in signup will help users to identify others .

[2021-03-16 21:45] 435akashjha opened #110 "Adding username input in login page of users"
It will help users to add their own username

[2021-03-16 21:45] 435akashjha commented on #110
I  want to work on this issue

[2021-03-16 21:46] 435akashjha commented on #109
I  want to work on this issue and contribute to this project

[2021-03-16 21:49] 435akashjha opened #111 "Adding form validation in contact page"
In the contact form there is no validation of email and text area and therefore anyone spam

[2021-03-16 21:50] 435akashjha commented on #111
Since I am beginner at the open source I want to work on this issue.

[2021-03-16 21:53] 435akashjha opened #112 "Adding re-captcha in contact form"
@chiraag-kakar  re- captcha can be added so that anyone cannot spam this.

[2021-03-16 22:20] #98 closed

[2021-03-16 22:21] amanjha8100 commented on #108
One pr is under consideration for that issue, if it is not solved ,we will assign it to you.

[2021-03-16 22:21] #108 closed

[2021-03-16 22:24] amanjha8100 commented on #89
We don't really need blogpost right now, but if you could give a proper explanation for how blogs will be helpful relating to this project, we can consider. Please give your explanation in project channel.

[2021-03-16 22:26] amanjha8100 commented on #91
If shalini is not able to solve the isuue @435akashjha . I will assign to it you.

[2021-03-16 23:39] kumarishalini6 commented on #91
Sir I am working on it , the thing is I am busy in clg
I will send you by today

[2021-03-17 05:05] 435akashjha opened #113 "Creating Password validation in Signup form"
A password validation can be added such as min and max characters allowed for password and condition of uppercase and lowercase letters and one special characters for generating strong passwords.

[2021-03-17 05:46] kumarishalini6 commented on #91
Sorry @435akashjha but I am working on it

[2021-03-17 06:00] nikhilkotiya opened #114 "Login form not displaying errors."
![Screenshot (93)](https://user-images.githubusercontent.com/51186856/111421992-f0434180-8713-11eb-93ef-2c0c9ee3b183.png)

When debug is false then this error is not show

[2021-03-17 08:46] amanjha8100 commented on #88
Fatima I am getting your point but the changes you are suggesting is quite subjective, you may like those photos but maybe the PA won't like it, these changes are minor and very subjective. I believe lets let the PA decide the photos. Feel free raise other issues. Thanking you for creating this one.

[2021-03-17 08:46] #88 closed

[2021-03-17 09:47] RahulPalve opened #115 "add Vir which is virtualenv folder to gitignore"
I tried to clone this repo then noticed its size is much larger than expected, either you include Vir to gitingore or change folder name to venv, I will do that add gssoc21 label to thus
@chiraag-kakar chiraag-kakar

[2021-03-17 10:07] Upasana1216 commented on #106
Please assign this to me under GSSOC

[2021-03-17 10:14] pranjalg13 commented on #106
Hey, @Upasana1216 I have already created PR for that. Try to solve the open issues where PR are not pushed or create your own issues if you find any.

[2021-03-17 10:38] RahulPalve commented on #113
hey @harshita2216  can u label my pr with gssoc21

[2021-03-17 11:57] harshita2216 commented on #113
@RahulPalve Your PR will not be considered as it is already assigned to someone.

[2021-03-17 11:58] harshita2216 commented on #110
@435akashjha Not sure if we need this at the moment. Will consider you if we feel it is required.

[2021-03-17 12:03] RahulPalve commented on #113
So, if someone raise the issue it will be assigned to that person by default? 🙄.

[2021-03-17 12:57] kumarishalini6 commented on #91
@amanjha8100 i have send PR please check it

[2021-03-17 14:29] harshita2216 commented on #113
@RahulPalve No, but you need to comment on the issue first and get assigned before making a PR. Your comment decides whether or not you will be picked for working on the issue. Ideally, we want you to comment on how you are going to solve the issue.
These are some rules given by GSSoC and they expect both mentors and participants to follow.

[2021-03-17 14:39] Shulabh-968026 commented on #114
I world like resolve this issue.Can I work on it.

[2021-03-17 14:44] nikhilkotiya commented on #114
@Shulabh-968026 Bro i want to work in this issue , sorry

[2021-03-17 18:42] dhananjayd1729 commented on #108
Ok. Thanks.

[2021-03-17 19:48] 435akashjha commented on #110
@harshita2216  Should this issue needs to be close for now

[2021-03-18 07:20] tanishq-arya commented on #55
![Screenshot (961)_LI](https://user-images.githubusercontent.com/77333275/111587557-62855600-87e8-11eb-92cd-d741e946eaeb.jpg)
This is the dialogflow. I will now start creating the intents and responses on dialogflow from today.

[2021-03-18 10:37] amanjha8100 commented on #55
Yeah go ahead with dialogue flow. Remember the point that the chatbot just needs to solve some common issues that people might have while visiting the website. Keep it simple and effective.

[2021-03-18 10:42] amanjha8100 commented on #55
Going for choices was just a suggestion,if you can get the job done using just simple messages then also it's all right. In the first place it is important to design a chatbot first, the program is three months long we can always create further issues based on chatbot development.

[2021-03-18 14:13] amanjha8100 commented on #106
Ok I will review your PR today. Keep contributing more.

[2021-03-18 14:19] #106 closed

[2021-03-18 14:19] #73 closed

[2021-03-18 14:44] akshay399 opened #121 "Show on screen errors or messages instead of js alerts"
whenever there is some message the site pops up an alert like this
![image](https://user-images.githubusercontent.com/55823965/111645618-e5c59c80-8826-11eb-95a0-0331f40ce042.png)

i will change that to onscreen message like this, saving a click of user and maintaining the flow
<img width="905" alt="message" src="https://user-images.githubusercontent.com/55823965/111645264-89627d00-8826-11eb-93df-4

[2021-03-18 14:45] akshay399 commented on #121
i am a gssoc 21 member can u please assign this issue to me?

[2021-03-19 02:14] 435akashjha commented on #105
I want to fix this issue and implement dark mode in website

[2021-03-19 10:01] akshay399 commented on #121
hi @harshita2216 i want to do an admin signup but where am i supposed to signup for admin? also django's admin page is always showing wrong password even tho i am putting same credentials that i created after doing python manage.py createsuperuser

[2021-03-19 11:03] akshay399 commented on #121
hi @harshita2216 i did the required changes please review my PR, thanks

[2021-03-19 12:17] balarka135 opened #126 "Google, Facebook sign in"
I think on the login page, we have to implement google and Facebook sign-in and sign-up.
Because sometimes it very time-consuming to fill the form.

I like to work on the issue. Please assign me

[2021-03-19 20:03] kanishka8276 opened #127 "viewall_usernotes.html is not responsive."
The table in Accepted_notes.html is not responsive.
Due to which we have to scroll horizontally to view the table's content.

[2021-03-20 04:34] Aj7t commented on #126
🚀hello, I am a member if Gssoc'21. plz assign me this issue, I  will do it   as earliest as possible

[2021-03-20 11:49] Avishake007 opened #128 "Admin Login-Design"
I want To change the design of Admin login
I am a gssoc'21 participant and want to contribute on this project

[2021-03-20 12:27] nikhilkotiya opened #129 "Preloader"
I want to add a preloader for this project.
I am a gssoc'21 participant and want to contribute on this project.

[2021-03-21 11:53] arpit456jain opened #130 "[GSSoC'21] Page Not Found"
Hello @chiraag-kakar sir I am gsoc'21 participant , I don't know this is a bug  or I made any mistake in the process of getting-started. Home page is ok but when i clicked on  about and contact page i got **page not found error** .I am attaching a video Please check it , If this is really a issue i would love to solve it.
Please assign it to me . I will solve it as soon as possible.

https://user-

[2021-03-21 13:18] chiraag-kakar commented on #130
Hey @arpit456jain , if you check out the deployed version https://sharelearn.herokuapp.com which is updated with the latest codebase is working fine. Kindly clone the repository and follow the set up docs again :)

[2021-03-21 13:53] arpit456jain commented on #130
ok sir

[2021-03-21 13:56] arpit456jain commented on #130
@chiraag-kakar Sir When i visit url given by you above I got this page <img width="960" alt="sh" src="https://user-images.githubusercontent.com/55352601/111907408-2cabd000-8a7b-11eb-8c95-d9632b22fd7d.png">

[2021-03-21 14:06] arpit456jain commented on #130
@chiraag-kakar  sir I had clone it again just 2 min before but still i am facing the same issue page not found Please take a look into it.

[2021-03-21 15:21] ANAMIKA1410 commented on #113
import re
password = "R@m@_f0rtu9e$"
flag = 0
while True:
    if (len(password)<8):
        flag = -1
        break
    elif not re.search("[a-z]", password):
        flag = -1
        break
    elif not re.search("[A-Z]", password):
        flag = -1
        break
    elif not re.search("[0-9]", password):
        flag = -1
        break
    elif not re.search("[_@$]", password):
        flag = -

[2021-03-21 16:36] Aditya201551 opened #131 "[GSSOC' 21] [FEATURE] [BACKEND] Adding social login"
@chiraag-kakar I would like to add social login to this project i.e Google and Facebook login, please assign me this task

Thank You(GSSOC' 21 participants)

[2021-03-22 05:53] chiraag-kakar commented on #130
@arpit456jain , check out the following links , there was a typo in previous link provided :)
https://sharenlearn.herokuapp.com/
https://sharenlearn.herokuapp.com/about

[2021-03-22 05:56] chiraag-kakar commented on #131
Hey @Aditya201551 really appreciate your enhancement , however we  don't require social auth in this project. The reason being , you can only fetch details like profile picture , email from the social handles of users but this project requires users to enter more specific details. Do checkout the registration page again :)

[2021-03-22 05:57] chiraag-kakar commented on #129
Hey @nikhilkotiya , ping with the issue number in the Discord channel and mentors will assign you the issue.

[2021-03-22 05:58] chiraag-kakar commented on #128
Hey @Avishake007 , ping with the issue number in the project channel so that the mentors can assign you the issue :)

[2021-03-22 06:00] arpit456jain commented on #130
ok sir

[2021-03-22 06:00] chiraag-kakar commented on #127
Hey @kanishka8276 , ping with the issue number in the project channel and the mentors will assign you this issue , also try to attach some screenshots while you are creating issues or PRs , it becomes easier to follow your enhancements :)

[2021-03-22 06:01] chiraag-kakar commented on #126
Hey @balarka135, @Aj7t  really appreciate your enhancement , however we don't require social auth in this project. The reason being , you can only fetch details like profile picture , email from the social handles of users but this project requires users to enter more specific details. Do checkout the registration page again :)

[2021-03-22 06:02] #130 closed

[2021-03-22 06:03] chiraag-kakar commented on #105
Hey @435akashjha @mohammedjameel24  , please share more details on how you're gonna be implementing the dark theme with respect to current color pallete of the project :)

[2021-03-22 06:08] arpit456jain opened #132 "Gssoc'21 Adding Form Validation And Error/Success message in Contact page"
Hello @chiraag-kakar sir i am a gssoc'21 participant and i want to add some form validation in contact page because I think there are no validations in it as i am able to fill all fields by 'a' and it got submitted successfuly and some flash message feature using message framework in Django Kindly Assign me this issue I will do this as soon as possible.

[2021-03-22 07:06] mohammedjameel24 commented on #105
Pitch black for background and bold white on fore ground inversion of some solid colors

[2021-03-22 13:21] amanjha8100 commented on #83
I am assigning this to you!

[2021-03-22 18:42] 435akashjha commented on #105
This can be done with background color as black and font as white with a toggle button

[2021-03-22 18:55] arpit456jain commented on #132
Can I start working on it @codeit13 sir

[2021-03-23 13:28] nikhilkotiya commented on #129
@chiraag-kakar Now can I start work in this issue?

[2021-03-23 18:37] amanjha8100 commented on #129
assigning this to you!

[2021-03-23 18:42] harshita2216 commented on #110
@435akashjha Yes, you may.

[2021-03-23 19:25] dhananjayd1729 commented on #108
@amanjha8100  Is pr got merged that you were talking about?

[2021-03-23 19:38] harshita2216 commented on #108
@dhananjayd1729 The PRs will be merged by the project admin. We will create the issue again if the PR under review is not accepted.

[2021-03-23 19:41] #110 closed

[2021-03-23 19:42] harshita2216 commented on #113
@435akashjha I am unassigning you from this issue as we've not heard from you in 7 days.

[2021-03-23 19:49] harshita2216 commented on #87
@n-coder2k We don't need any changes to the header at the moment. Closing this issue for now. We will reopen it if needed.

[2021-03-23 19:49] #87 closed

[2021-03-23 19:49] #126 closed

[2021-03-23 19:51] #115 closed

[2021-03-23 19:57] 435akashjha commented on #113
Please give me a day I will solve it.

[2021-03-23 19:57] harshita2216 commented on #114
@nikhilkotiya @Shulabh-968026 Hey we have fixed the errors. Please update your fork. If there are still errors, please let us know in the project channel. Closing the issue for now.

[2021-03-23 19:57] #114 closed

[2021-03-23 20:06] harshita2216 commented on #89
@mohammedjameel24 Closing this, for now, will reopen if needed.

[2021-03-23 20:06] #89 closed

[2021-03-23 20:09] harshita2216 commented on #78
@icoderharshit Can you show me the issue and explain how are you going to solve it?

[2021-03-23 20:14] icoderharshit commented on #78
@harshita2216 It has been already done ig, and you are replying to me after 11 days of my comment :( So, maybe I'll have to look for more issues or bugs in the project. Kindly, assign them to me in time because I still haven't made any commit under GSSoC'21 yet.

[2021-03-23 20:16] icoderharshit commented on #78
@harshita2216 I just got to see that Admin Login Page is not responsive, so may I fix it ? Assign me this issue.
PFA: screenshot of the issue found
![bugg](https://user-images.githubusercontent.com/55023091/112212252-c1acf580-8c42-11eb-9f76-0cef44222f79.JPG)

[2021-03-23 20:26] harshita2216 commented on #78
@icoderharshit Well, none of the PRs have been merged in 11 days, so nothing has changed since then :)
About the admin page, it has already been assigned to someone. There are a lot of open issues, you can comment there and get yourself assigned.

[2021-03-23 20:29] harshita2216 commented on #113
Okay, make a PR by tomorrow.

[2021-03-23 20:30] harshita2216 commented on #80
Kindly explain how you would improve it? @aashishah

[2021-03-23 20:46] #78 closed

[2021-03-24 03:14] #131 closed

[2021-03-24 03:20] harshita2216 commented on #132
Comment on #111 and close this.
Don't create same issues again. @arpit456jain

Comment your approach as well to have better chances of getting assigned.

[2021-03-24 05:38] arpit456jain commented on #132
ok mam

[2021-03-24 05:39] arpit456jain commented on #111
@harshita2216  mam i am a gssoc'21 participant and i want to add some form validation in contact page because I think there are no validations in it as i am able to fill all fields by 'a' and it got submitted successfully and some flash message feature using message framework in Django Kindly Assign me this issue I will do this as soon as possible.

[2021-03-24 05:40] #132 closed

[2021-03-24 06:25] rk05-lenavo commented on #82
I am a GSSoC'21 participant @harshita2216
Can you assign me this issue

[2021-03-24 06:41] arpit456jain commented on #111
Thank you mam will start work on it as soon as possible

[2021-03-24 08:34] arpit456jain commented on #111
@harshita2216  mam I had solved this issue may i create a PR.

[2021-03-24 09:39] arpit456jain commented on #111
@harshita2216 mam Please Review my PR.

[2021-03-24 13:07] flyingsonu122 commented on #76
@amanjha8100 please **review** the PR #97

[2021-03-24 13:38] flyingsonu122 commented on #96
@amanjha8100 @harshita2216

please **review** the PR #138

[2021-03-24 13:46] flyingsonu122 opened #139 "vir folder is not required"
this folder has been created by the **maintainers** while creating virtual environment, this should not be uploaded

so, **delete it**  and add instructions in README.md for deleting the virtual environment folder before pushing

[2021-03-24 13:47] flyingsonu122 commented on #139
@chiraag-kakar @harshita2216 @amanjha8100 please assign this to me

[2021-03-24 14:23] flyingsonu122 commented on #139
this has made it like this

![image](https://user-images.githubusercontent.com/51280276/112326460-8bbb5000-8cda-11eb-95d9-906195c216b0.png)

[2021-03-24 14:30] #139 closed

[2021-03-24 14:30] flyingsonu122 commented on #139
see the **impact**

![image](https://user-images.githubusercontent.com/51280276/112327558-88749400-8cdb-11eb-9161-6d28f492cae4.png)

[2021-03-24 14:33] flyingsonu122 commented on #139
you do not need it

check here [How?](https://stackoverflow.com/questions/6590688/is-it-bad-to-have-my-virtualenv-directory-inside-my-git-repository)

[2021-03-24 14:43] harshita2216 commented on #139
Please check the project channel. Thanks.

[2021-03-24 14:43] chiraag-kakar commented on #139
Hey @flyingsonu122 , really appreciate your suggestion to improve the project directory structure , however we cannot consider this as an issue for the following reasons :
* Each Contributor is free to name virtual environment according to his/her choice.
* Secondly it is the responsibilty of the contributor to include that virtual environment directory in the ```.gitignore``` file.

Practically i

[2021-03-25 06:53] Naman-12911 commented on #112
Hello Can I add re-captcha in contact form.
I can do it easily because I do this in my project please assign me under GSSOC.

[2021-03-25 14:08] Abhishekkr93 commented on #113
I would like to contribute as a Gssoc21 participant. could you please assign me this? I will create this.

[2021-03-25 19:05] sakshi-s opened #141 "Select branch and filetype dropdowns in upload_notes.html"
The menu currently looks like the image below in which options are scattered.
![before](https://user-images.githubusercontent.com/39264146/112529150-f77ce600-8dca-11eb-9447-d205570f71a1.PNG)

I will change it to an organized dropdown like :
![after](https://user-images.githubusercontent.com/39264146/112529312-22ffd080-8dcb-11eb-9aad-19b7aa67f2ef.PNG)

[2021-03-26 13:11] harshita2216 commented on #141
Assigning it to you but make sure your changes complement the overall animation of this page. Apply some styles to the drop-down. @sakshi-s

[2021-03-26 13:55] Aayush-hub opened #142 "Add issue template and PR template"
Add issue and PR template to the project so that it can reference contributors and maintainers.

[2021-03-26 13:55] #142 closed

[2021-03-26 13:56] Aayush-hub commented on #103
@harshita2216 This needs to be done!

[2021-03-26 14:50] Mus2413 commented on #109
Hello,  I would like to contribute on this project. Could you please assign me this issue.

[2021-03-27 06:36] Nishayadav-bit commented on #127
Hello, I would like to work on this issue .Please assign to me ,I'm a participant in GSSOC'21

[2021-03-27 14:55] RahulPalve commented on #113
PR ready to be merged :
https://github.com/chiraag-kakar/sharenlearn/pull/117

[2021-03-27 20:12] arpit456jain commented on #111
@chiraag-kakar sir please review my PR.

[2021-03-28 15:26] kanishka8276 opened #145 "Updation in readme.md for superuser command"
python manage.py createsuperuser command doesn't work for all in git bash, it shows an error skipped superuser creation due to not running in a TTY.
Instead if we use the command,
winpty python manage.py createsuperuser
Then it works fine for Windows. So, we should add this command also in the readme.md in the windows section giving an option to the user.

[2021-03-28 16:22] kanishka8276 opened #147 "Bug In changepassword.html"
The changepassword.html allows user to keep empty password. I would like to add validation for it.
Please assign this to me.
GSSoC'21

[2021-04-01 06:34] hariramjp777 opened #149 "UI Enhancements"
I'd like to improve the UI of sharenlearn site.

Here're my User interfaces created using Figma. I'd like to code the same using HTML (Django) and CSS.

* Home

![Home](https://user-images.githubusercontent.com/58631762/113252658-b8c2c080-92e1-11eb-870f-46571919a3b3.png)

* About

![About](https://user-images.githubusercontent.com/58631762/113252695-c7a97300-92e1-11eb-9395-8b39538b0b21.png)

* Sig

[2021-04-01 06:54] Panic100 opened #150 "Social media section not working"
Hi, I am a GSSoC participant, on the website social media handles are not working if you can provide me the link, I can fix that issue.

[2021-04-01 17:37] coding-geek21 opened #151 "Creating sign in using google and facebook"

[2021-04-02 09:16] harshita2216 commented on #151
Hey @coding-geek21, we cannot have a sign-in from Google or Facebook because we need more information. Kindly look at the sign-up form. Please comment on others or make new issues.
Closing this one! Thanks :)

[2021-04-02 09:16] #151 closed

[2021-04-02 09:18] harshita2216 commented on #150
@Panic100 This has been done on purpose as Share N Learn currently doesn't have any social media handles. Once we have them, we can add their links. Please comment on others or create new issues.
Closing this issue. Thanks :)

[2021-04-02 09:18] #150 closed

[2021-04-02 17:09] hariramjp777 opened #152 "UI Enhancements for Home Page"
Hi, I'd like to improve the UI of the Home page.

Here's a UI created using Figma. I'd like to code it using HTML (Django) and CSS.

![Home](https://user-images.githubusercontent.com/58631762/116806643-1e59d500-ab4c-11eb-81d8-0016577e8b6d.png)

Please Assign this to me @harshita2216

[2021-04-02 17:09] #149 closed

[2021-04-03 06:24] n-coder2k opened #153 "Beautification of Contact Us Page"
I am GSSOC participant , i would like to beautify contact us page by adding hover effect to submit button and change colours etc in the contact us form.
Please assign me this issue .

[2021-04-04 14:17] AasthaCodex opened #154 "Change in color of link in footer"
The footer sitemap color is not that visible, It should be changed to a lighter shade.
<img width="357" alt="Capture4" src="https://user-images.githubusercontent.com/72413064/113511657-871a5580-957e-11eb-9b66-d4340cd5b8a2.PNG">

on hovering it looks more darker in shade

[2021-04-04 16:07] Fpj-11 opened #155 "Alignment of navbar"
Navbar can be shifted towards right side. Also hover effects of navbar can be changed.
I am interested in front-end development. Can I work on this issue?

[2021-04-05 06:06] Malvika18 commented on #152
hey i want to contribute to this issue , please assign this to me

[2021-04-06 18:58] #76 closed

[2021-04-06 19:03] #75 closed

[2021-04-06 19:06] #81 closed

[2021-04-06 19:21] #91 closed

[2021-04-06 19:32] #96 closed

[2021-04-07 11:53] giridhar7889 opened #156 "discussion panel such as a Chat room"
A discussion panel can be implemented where students can post their requests to the faculty to upload the study materials and can discuss various things related to the availability of open-source materials he/she found out and share that material as it will be available to every single one of them.

[2021-04-07 11:56] giridhar7889 commented on #156
@chiraag-kakar can you please assign this to me?

[2021-04-07 12:58] simranbhalla3 commented on #82
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:59] simranbhalla3 commented on #105
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:59] simranbhalla3 commented on #147
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:59] simranbhalla3 commented on #154
I am a Gssoc participant , please assign me this issue.

[2021-04-07 13:00] #105 closed

[2021-04-07 13:02] simranbhalla3 commented on #141
I am a Gssoc participant , please assign me this issue.

[2021-04-08 23:54] MennaMagdy2019 opened #157 "bug the responsive login form"
can I solve this bug I will make it responsive and solve it on this screen and I will make a scroll bar at the same color of the background?
![Capture1](https://user-images.githubusercontent.com/50016070/114109898-8fec8d80-98d6-11eb-93cf-bd70c55f7456.PNG)

 I am a GSSOC participant, please assign me this issue. @harshita2216?

[2021-04-09 03:19] coding-geek21 commented on #83
Can I work on this issue??

[2021-04-09 03:24] coding-geek21 opened #158 "Adding bootstrap alert messages"

[2021-04-09 11:05] ashutoshkrris opened #159 "Add Google Login Feature"
I'd like to add google login feature so that user need not fill a form to login or sign up.

[2021-04-09 11:08] ashutoshkrris opened #160 "OTP Verification for Sign up"
As of now, any user can sign up. But to prevent fake users from signing up, we can implement OTP verification. Once a user signs up, OTP is sent to the user's email address. The registration is completed only if the correct OTP is entered. All these processes will be done using AJAX requests to avoid page reloading and enhance user experience.

[2021-04-09 11:16] ashutoshkrris opened #161 "Simple Notify to show messages(error, warning or success)"
Commonly, we use Bootstrap alerts to show messages. But it looks a bit old fashioned. We can use a light weight notification tool for this. Below is the attached demo for the same.
![Screenshot (319)](https://user-images.githubusercontent.com/47353498/114172219-0038f480-9953-11eb-90fc-31eaa07734e1.png)
The above notification shows up in the right top corner of the page which looks far better than

[2021-04-09 11:19] ashutoshkrris opened #162 "AJAX Validations for email and password fields"
We can implement Ajax validations for email and passwords field to validate if an email matches a regex or a password follows a regex pattern. This should be done using AJAX to enhance user experience so that the user need not wait to check if an email already exists.
Below is the attached demo for the same
![Screenshot (322)](https://user-images.githubusercontent.com/47353498/114172589-78071f00-9

[2021-04-09 11:40] Devender00999 opened #163 "Responsive Contact Us Page"
Contact Page is not responsive.
Please assign this issue to me.

[2021-04-09 11:43] harshita2216 commented on #161
@ashutoshkrris Closing this as this is already listed and a PR for the same is under review. :)

[2021-04-09 11:43] #161 closed

[2021-04-09 11:44] harshita2216 commented on #158
@coding-geek21 Closing this as this is already listed and a PR for the same is under review. :)

[2021-04-09 11:44] #158 closed

[2021-04-09 11:50] Dkarya846 opened #164 "Admin Login Form and Responsiveness"
Admin login in form is not similar to other forms and page is not responsive.

[2021-04-09 12:04] ashutoshkrris opened #165 "Bugs in Sign up page"
A lot of repetitive fields are present in the signup page. Below is the attached example :
![Screenshot (324)](https://user-images.githubusercontent.com/47353498/114177249-cd462f00-9959-11eb-9e2a-87ce7c0c1006.png)

[2021-04-09 16:41] Dkarya846 commented on #164
#167

[2021-04-10 03:40] jugeshraghav commented on #155
I am interested in this. Please assign me this issue.

[2021-04-10 06:26] Aditya201551 opened #171 "[BUG] [GSSOC' 21] Error 404 while accessing login page in localhost"
@chiraag-kakar @AVS18 @amanjha8100 @harshita2216

while clicking on the login link the server returns the error 404, reference video given below:

https://user-images.githubusercontent.com/32588231/114260593-8ad13080-99f3-11eb-8625-174c754ca0f5.mp4

[2021-04-10 07:19] ashutoshkrris opened #173 "Forgot password with OTP Verification"
There are a lot of extra fields like First Name, Last Name in the forgot password page. Also, instead of directly changing user's password, we can first verify if the user is a authentic user using OTP verification. Also, we can implement Ajax validation.
I have attached a screenshot of the forgot password page.
![Screenshot (325)](https://user-images.githubusercontent.com/47353498/114262009-274b0

[2021-04-10 16:33] Dkarya846 opened #174 "There is an extra form in user login page and page is not completely responsive"
https://sharenlearn.herokuapp.com/login page has an extra form and the page is not completely responsive too.

[2021-04-10 16:34] jugeshraghav opened #175 "Grammatical and command errors in readme"

[2021-04-10 16:43] jugeshraghav commented on #175
while I was trying to set up the virtual environment I found some of the commands not working properly also when I went through the readme I found some grammatical errors

[2021-04-10 16:47] jugeshraghav commented on #174
Can I take up this issue?

[2021-04-10 16:57] Devender00999 opened #177 "No Closing Button Query Box & Responsive Footer in All Pages"
![image](https://user-images.githubusercontent.com/37322572/114278005-56895e80-9a4b-11eb-9170-896006de9f8a.png)
## As Above image show the social media icons are too large for mobile view and they are not in same line.

![image](https://user-images.githubusercontent.com/37322572/114278043-7751b400-9a4b-11eb-97a3-77244f080a5b.png)
## As above image show there is not button for closing query box in

[2021-04-10 16:58] jugeshraghav commented on #175
#170 linked the pull request and corrected all the errors I found.

[2021-04-11 01:15] MennaMagdy2019 commented on #163
Can I work on this issue, please? @harshita2216

[2021-04-11 01:24] MennaMagdy2019 opened #178 "blue scroll bar"
can I make a scrollbar at the same color of background header as blue color, border radius as 10px and box-shadow
![Capture9](https://user-images.githubusercontent.com/50016070/114289104-a41ac100-9a75-11eb-85b6-504cbe080d5e.jpg)

like this
![modified](https://user-images.githubusercontent.com/50016070/115127526-797dba80-9fd7-11eb-93ce-12e5064eb9e8.JPG)

[2021-04-11 14:35] AVS18 commented on #173
Please work on this issue and make sure you try to use username/email enter and change the password based on otp.
All the best

[2021-04-11 14:44] #171 closed

[2021-04-11 14:44] ashutoshkrris commented on #173
@AVS18
Of course, I will be using email field to check if the user exists. If it does, an OTP will be sent on the same. No phone number will be involved in the entire process.

[2021-04-11 14:47] AVS18 commented on #173
cool.

[2021-04-11 15:05] Aditya201551 opened #179 "[BUG] [GSSOC' 21] Bug in login page"
- There are two login forms in login page one with proper orientation and another with improper orientation, reference video is given below:

https://user-images.githubusercontent.com/32588231/114309408-a24c0e80-9b04-11eb-8fff-9d7eceafc9bf.mp4

@chiraag-kakar @AVS18 @amanjha8100 i would like to fix up this page please assign me this issue

[2021-04-11 15:11] ashutoshkrris commented on #173
Kindly assign me this issue.
I thought, I was already assigned and hence made a PR

[2021-04-12 05:45] harshita2216 commented on #179
@Aditya201551 We already have a PR approved for this issue. :)

[2021-04-12 05:47] Aditya201551 commented on #179
@harshita2216 okay

[2021-04-13 11:29] arpit456jain opened #181 "[Gssoc'21] Enhancement in social media queries"
I would like to make social media icons more attractive and cool

like this
<img width="286" alt="icons" src="https://user-images.githubusercontent.com/55352601/115118501-108b4800-9fc1-11eb-938a-7b6e5885768c.png">

[2021-04-13 11:47] arpit456jain opened #182 "[Gssoc'21] bug in responsiveness in sign up page"
<img width="960" alt="p2" src="https://user-images.githubusercontent.com/55352601/114547494-2248b480-9c7c-11eb-9d4a-f4ced4f11e27.png">

[2021-04-13 13:50] coding-geek21 commented on #67
@amanjha8100  Can i work on this issue?? If it is not updated??

[2021-04-13 15:14] SnehaVeerakumar commented on #129
If limit limit exceeds for current assignee, kindly assign me.
If assigned, I will complete this within 1 day.

[2021-04-14 08:05] aasthasaxena217 commented on #163
Can I work on this issue

[2021-04-15 17:15] Naman-12911 commented on #147
Hello I am a participant of GSSOC I want to solve this issue please assign me.

[2021-04-16 03:56] archanagandhi opened #183 "[gssoc'21]Preloader feature"
hey @chiraag-kakar
I would like to add a new preloader feature to the website.
please assign this to me
Thanks

[2021-04-16 04:07] harshita2216 commented on #182
@arpit456jain This has already been fixed. The PR is yet to me merged.

[2021-04-16 04:07] #182 closed

[2021-04-16 04:07] harshita2216 commented on #183
@archanagandhi We already have this issue. #129

[2021-04-16 04:07] #183 closed

[2021-04-16 04:10] harshita2216 commented on #174
This has already been fixed. The PR is yet to be merged. @Dkarya846 @jugeshraghav

[2021-04-16 04:10] #174 closed

[2021-04-16 04:12] harshita2216 commented on #159
@ashutoshkrris We cannot have this feature as while signing up we need additional details which Google login wouldn't give us.

[2021-04-16 04:12] #159 closed

[2021-04-16 04:13] archanagandhi commented on #183
hey @harshita2216  It's been 27days since the issue has created. please assign this to me.  will submit within 2 days

[2021-04-16 04:14] ashutoshkrris commented on #159
But after login, we could have redirected the user to a page where he/she could fill up those additional details (only once).
Anyways, no issue.

[2021-04-16 04:19] harshita2216 commented on #129
@nikhilkotiya I've not heard from you after I requested changes on Discord. Hence, I'm assigning this to @SnehaVeerakumar.

[2021-04-16 04:23] SnehaVeerakumar commented on #129
As you told you requested for changes, may I know that for proceeding further? @harshita2216

[2021-04-16 04:27] Dkarya846 commented on #174
OKay, thank you

[2021-04-16 04:41] harshita2216 commented on #129
@SnehaVeerakumar The changes I requested was for his PR. You can proceed with your work. In case you need to discuss something, you can drop me a message on Discord.

[2021-04-17 00:22] #165 closed

[2021-04-17 00:25] #160 closed

[2021-04-17 05:51] harshita2216 commented on #157
@MennaMagdy2019 this page has 2 signup forms, we only need one. Please fix that as well.

[2021-04-17 15:47] harshita2216 commented on #157
@MennaMagdy2019 I am sorry but we already have this issue assigned to someone.

[2021-04-17 15:47] #157 closed

[2021-04-17 20:40] SnehaVeerakumar commented on #129
I will make a PR by tomorrow. Sorry for the delay due to my exams.

[2021-04-17 21:49] MennaMagdy2019 commented on #178
I think it will look nice. Can you assign me this issue please @harshita2216, thank you

[2021-04-18 09:16] satwik-talluri commented on #82
Hello!

I am a GSSOC'21 participant.
I would love to work on scroll back to top button for the website.

@chiraag-kakar and @harshita2216  can you please assign me this issue if it's not already resolved. Thank you

[2021-04-20 08:28] Aditya201551 opened #188 "[GSSOC' 21] [BUG] Favicon not available in everypage"
- Favicon is not applied on every page
- It's only present on the home page, the rest of the page does not contain any favicon

![Screenshot 2021-04-20 135739](https://user-images.githubusercontent.com/32588231/115363806-67229d00-a1e0-11eb-86b5-eabfa0307ca4.png)

@chiraag-kakar @harshita2216 i would like to fix this issue please assign me this issue

[2021-04-20 09:42] amanjha8100 commented on #188
Favicon is loading for every page on the original website, I would suggest in your runserver check the status of favicon, check the source img file and then update me.

[2021-04-20 12:45] Aditya201551 commented on #188
@amanjha8100 yes its working fine on the original website, sorry gonna close this issue then

[2021-04-20 12:45] #188 closed

[2021-04-22 03:04] harshita2216 opened #189 "Revamp About Page"
Currently the about page loading is slow.  This could be because of unnecessary code and large image size. Please comment how are you going to work on this?

[2021-04-22 13:39] tanishq-arya commented on #189
@harshita2216 Please assign me this issue.
Proposed changes:
1. Remove excess scripts
2. Covert all scripts to a single .js file
3. Add a suitable illustration to the page and remove the background image.
4. Style the font
5. Structure the sections using css grid layout.

[2021-04-22 13:54] #112 closed

[2021-04-22 13:55] #113 closed

[2021-04-22 13:56] #121 closed

[2021-04-23 19:11] #181 closed

[2021-04-23 22:35] Aryamanz29 commented on #111
@chiraag-kakar  @harshita2216  Any response??? regarding this issue.

[2021-04-23 22:37] Aryamanz29 commented on #111
This is really bad, Why project maintainer not reviewing participants PR

[2021-04-23 22:40] Aryamanz29 commented on #103
@harshita2216 @amanjha8100  Getting no response from the past 28 days in this issue thread. I decided to raise PR without assigning it to me. This is really bad that the project maintainer doesn't even check open issues.

[2021-04-24 16:09] harshita2216 commented on #109
Hey both, we currently do not need this. Will reopen this once we require this. ;)

[2021-04-24 16:09] #109 closed

[2021-04-24 16:45] harshita2216 commented on #156
@giridhar7889 This is currently not required. Will reopen if we need this. :)

[2021-04-24 16:45] #156 closed

[2021-04-24 16:47] harshita2216 commented on #155
Hey both, please check our discord server in a few days. We've been planning something for the project and for that we do not require this issue. Will announce as soon as we get the confirmation from the PA.

[2021-04-24 16:47] #155 closed

[2021-04-24 16:49] harshita2216 commented on #154
Hey both, please check our discord server in a few days. We've been planning something for the project and for that we do not require this issue. Will announce as soon as we get the confirmation from the PA.

[2021-04-24 16:49] #154 closed

[2021-04-24 16:52] harshita2216 commented on #153
Hey, someone has already worked on this and their PR has already been merged. I request you to not create the same issues. Please comment on the older ones instead.

[2021-04-24 16:52] #153 closed

[2021-04-24 16:54] harshita2216 commented on #147
Someone has already worked on this issue. I request you not to create same issues again and again. Please comment on them instead.

[2021-04-24 16:54] #147 closed

[2021-04-24 16:55] harshita2216 commented on #80
Closing this issue as I have not heard from you in a long time. @aashishah

[2021-04-24 16:55] #80 closed

[2021-04-24 16:56] harshita2216 commented on #77
Hey both, please check our discord server in a few days. We've been planning something for the project and for that we do not require this issue. Will announce as soon as we get the confirmation from the PA.

[2021-04-24 16:56] #77 closed

[2021-04-24 16:57] harshita2216 commented on #74
Hey please check our discord server in a few days. We've been planning something for the project and for that we do not require this issue. Will announce as soon as we get the confirmation from the PA.

[2021-04-24 16:57] #74 closed

[2021-04-24 16:59] harshita2216 commented on #72
Hey, please check our discord server in a few days. We've been planning something for the project and for that we do not require this issue. Will announce as soon as we get the confirmation from the PA.

[2021-04-24 16:59] #72 closed

[2021-04-25 10:37] #103 closed

[2021-04-25 10:39] #162 closed

[2021-04-26 09:08] subhangi2731 commented on #179
please assign me this

[2021-04-26 09:09] Aditya201551 commented on #179
i have fixed the issue

[2021-04-26 09:10] subhangi2731 commented on #69
please assign me this

[2021-04-26 09:11] subhangi2731 commented on #83
please assign me this issue

[2021-04-28 15:02] kanisshka opened #191 "Admin login are duplicated"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

There should be only one admin login box.

# Current Beh

[2021-04-29 10:39] #173 closed

[2021-05-01 14:23] #179 closed

[2021-05-01 14:25] harshita2216 commented on #191
Hey we are updating the entire UI. Someone is already working on this. :)

[2021-05-01 14:25] #191 closed

[2021-05-01 15:46] #177 closed

[2021-05-01 15:46] #175 closed

[2021-05-01 15:47] #164 closed

[2021-05-01 15:47] #129 closed

[2021-05-01 15:48] #82 closed

[2021-05-01 15:48] #79 closed

[2021-05-01 15:48] #55 closed

[2021-05-02 08:20] hariramjp777 opened #193 "UI Enhancements for Signup Page"
### Feature request-
I'd like to improve the UI of the Signup Page.

### Describe the solution you'd like
Here's a design created using Figma.

![signup-v2](https://user-images.githubusercontent.com/58631762/116806824-3120d980-ab4d-11eb-97f2-53ac1efb6eda.png)

I'd like to work on this issue under ` gssoc21 `, Please assign this to me @harshita2216

[2021-05-02 12:21] RuchiGitHu opened #194 "Username"
### Feature request-
In the Login page, there should be username option also. As in admin login the username is required to fill. But for existing one, there is no username in login page. How the user can login only with password?
I want to add username option there.
![image](https://user-images.githubusercontent.com/71754179/116812800-3c383180-ab6e-11eb-8492-c8adb5e66370.png)

### Describe the so

[2021-05-02 17:11] #152 closed

[2021-05-02 17:21] harshita2216 commented on #194
@RuchiGitHu We are updating the entire UI of Share N Learn and someone is already working on that.

[2021-05-02 17:21] #194 closed

[2021-05-02 17:57] #163 closed

[2021-05-02 17:58] #128 closed

[2021-05-02 17:59] #141 closed

[2021-05-02 17:59] #127 closed

[2021-05-02 18:00] #92 closed

[2021-05-02 18:02] #145 closed

[2021-05-02 18:02] #85 closed

[2021-05-02 18:03] #83 closed

[2021-05-02 18:03] #70 closed

[2021-05-02 18:04] #178 closed

[2021-05-02 18:05] #69 closed

[2021-05-02 19:46] Shivangi-ch opened #195 "Add floating animation to the svg in home page."
### Feature request-
I would like to add the floating animation in images of home page
### Is your feature request related to a problem? Please describe. (optional)
No

### Describe how this feature will be useful to our readers.
I will make the page look more attractive.

### Additional context
The floating images would be similar to this.
![doc2pen](https://user-images.githubusercontent.com/5778

[2021-05-02 19:54] Shivangi-ch opened #196 "Add Footer to the about page."
### Feature request-
I would like to add the footer to about page.

### Is your feature request related to a problem? Please describe. (optional)
No.

### Describe how this feature will be useful to our readers.
This will make UI attractive and will give the page an ending.

### Additional context
The footer would be simiar to that of current home page.

<hr/>
I am  a GSSOC participant.
Please ass

[2021-05-02 19:56] harshita2216 commented on #196
Hey @Shivangi-ch, we already have a footer which will be extended to the about page.

[2021-05-02 19:56] #196 closed

[2021-05-02 19:58] harshita2216 commented on #195
We will think about assigning this issue once all the pages are ready.

[2021-05-02 20:07] Shivangi-ch opened #197 "Add user-friendly hovering effect to the login button on home page."
### Feature request-
I would like to add user-friendly hovering effect to the login button on home page.

### Is your feature request related to a problem? Please describe. (optional)
NO.

### Describe how this feature will be useful to our readers.
It will make the page more user friendly.

<hr/>

* I am  a  GSSoC'21 participant.
Please assign this to me.

[2021-05-03 05:08] arpit456jain opened #198 "Dynamic Social media icons"
I would like to make social media icons in footer to be dynamic like when user hover on them they will rotate .
like this

https://user-images.githubusercontent.com/55352601/116842846-9cc18000-abfb-11eb-9275-1286c57dc29a.mp4

[2021-05-03 05:14] arpit456jain opened #199 "[Gssoc'21] ValueError at /contact/"
### **Describe the bug**

There is some bug in code of Contact page

https://user-images.githubusercontent.com/55352601/116843083-76501480-abfc-11eb-8230-eb4ec76e1fd6.mp4

[2021-05-03 05:15] arpit456jain commented on #111
@harshita2216 please close this issue as my PR was got merged .
I had not opened this issue that's why i can't close it from my side

[2021-05-03 05:57] #111 closed

[2021-05-03 05:58] #90 closed

[2021-05-03 05:58] #67 closed

[2021-05-03 05:58] #66 closed

[2021-05-03 09:23] hariramjp777 opened #203 "UI Enhancements for Login Page"
### Feature request-
I'd like to improve the UI of the Login Page and Forgot Password Page.

Here's a design created using Figma,

![login-v2](https://user-images.githubusercontent.com/58631762/116860409-29ca0080-ac1f-11eb-8ae1-3fff3b6b5ff0.png)

I'd like to work on this issue under ` gssoc21 `, Please assign this to me @harshita2216

[2021-05-03 10:01] #189 closed

[2021-05-03 10:38] #199 closed

[2021-05-03 10:38] #193 closed

[2021-05-03 18:22] #7 closed

[2021-05-03 18:29] #203 closed

[2021-05-03 18:39] KajalSinghBAGHEL opened #206 "Update README. md"
Remove grammatical mistakes

[2021-05-03 20:48] KajalSinghBAGHEL commented on #206
Can I work on this issue

[2021-05-04 05:43] hariramjp777 opened #207 "UI Enhancements for Contact Page"
### Feature request-
I'd like to improve the UI of the Contact Page.

Here's a design created using Figma,

![contact-v2](https://user-images.githubusercontent.com/58631762/116964569-7b2eca00-acc9-11eb-9483-9e3361386f76.png)

I'd like to work on this issue under ` gssoc21 `. Please assign this to me @harshita2216

[2021-05-04 05:47] arpit456jain opened #208 "[Gssoc'21] 404 Error Page not Found"
Currently when user try to go any page which is not present it shows
<img width="960" alt="404 before" src="https://user-images.githubusercontent.com/55352601/116964860-23449300-acca-11eb-8c71-caee98e9a414.png">

Even if I changed debug to False
it shows
<img width="960" alt="404" src="https://user-images.githubusercontent.com/55352601/116964886-30fa1880-acca-11eb-92c6-f3fa62b838e7.png">

That Mea

[2021-05-04 05:59] arpit456jain commented on #208
@harshita2216 when I change debug to False the home page  is not loading it shows server error 500 .

I don't understand why it is happening do have any idea.

Because in all the project i added 404 handler their home page is loading

[2021-05-04 06:16] arpit456jain commented on #208
I just run **python manage.py collectstatic** interminal and now its working

[2021-05-04 13:07] harshita2216 opened #210 "UI Enhancements for Profile Page"

[2021-05-04 13:08] harshita2216 opened #211 "UI Enhancements for Edit Profile Page"

[2021-05-04 13:09] hariramjp777 commented on #210
I'd like to work on this issue under `gssoc21`. Please assign this to me @harshita2216

[2021-05-04 13:09] harshita2216 opened #212 "UI Enhancements for Uploads Page (Upload Form)"

[2021-05-04 13:09] harshita2216 opened #213 "UI Enhancements for My Uploads Page"

[2021-05-04 13:10] hariramjp777 commented on #211
I'd like to work on this issue under gssoc21. Please assign this to me @harshita2216

[2021-05-04 13:10] hariramjp777 commented on #212
I'd like to work on this issue under gssoc21. Please assign this to me @harshita2216

[2021-05-04 13:12] hariramjp777 commented on #213
I'd like to work on this issue under `gssoc21`. Please assign this to me @harshita2216

[2021-05-04 13:36] arpit456jain opened #214 "show password feature in login"
I have added  a show password feature in login it looks like this
<img width="960" alt="show" src="https://user-images.githubusercontent.com/55352601/117011713-bbaf3780-ad0b-11eb-9981-094fad2798ad.png">

may I make a PR for this ?

[2021-05-04 13:40] #207 closed

[2021-05-04 13:40] KajalSinghBAGHEL commented on #206
Please check my pull request

[2021-05-04 13:42] arpit456jain commented on #214
@harshita2216

[2021-05-04 13:45] arpit456jain commented on #198
https://user-images.githubusercontent.com/55352601/117012881-fcf41700-ad0c-11eb-9be5-3aa2b8dcba90.mp4

@harshita2216 I have made the social icons dynamic may i create a PR for this

[2021-05-04 16:15] arpit456jain commented on #214
https://user-images.githubusercontent.com/55352601/117035408-e7d5b300-ad21-11eb-9239-c0d7886e9891.mp4

@harshita2216

[2021-05-05 07:19] #214 closed

[2021-05-05 15:28] #210 closed

[2021-05-06 05:05] #211 closed

[2021-05-06 17:57] #213 closed

[2021-05-07 04:24] SpecTEviL opened #219 "Landing Page UI Improvements"
- [x ] I checked to make sure that this issue has not already been filed.

- [ ] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

Adding Hover effects and many more changes to the landing page

# Current Behavior:

There are no/very few hover effects which make the UI a bit dull

# Solution:

I would like to improve upon the UI

[2021-05-07 05:07] hariramjp777 opened #220 "Refactor Home Page (Home, About, Contact in One page)"
### Feature request-
I'd like to refactor the UI of the Home Page, making it contains Home, About, Contact in three different sections but on the same page.

I'd like to work on this issue under ` gssoc21 `. Please assign this issue to me @harshita2216

[2021-05-07 16:38] arpit456jain commented on #198
May i create a PR for this.
It will not affect any thing in the website

[2021-05-07 16:40] harshita2216 commented on #198
No, please don't until you are assigned the issue. I'll let you know how this is to be done. @arpit456jain

[2021-05-07 16:45] arpit456jain commented on #198
Ok

[2021-05-07 17:36] #212 closed

[2021-05-08 06:43] hariramjp777 opened #223 "Light/Dark Theme"
### Feature request-
I'd like to implement Light/Dark theme feature for the `sharenlearn` site. I'd like to work on this issue under `gssoc21`. Please assign this to me @harshita2216

[2021-05-08 08:20] #220 closed

[2021-05-10 05:47] arpit456jain opened #224 "[Gssoc'21] Confirmation Alert before logout"
Confirmation Alert before logout like this
<img width="361" alt="alert" src="https://user-images.githubusercontent.com/55352601/117611497-3d2a1e00-b181-11eb-9d38-ae66ca765bcd.png">

[2021-05-10 05:51] arpit456jain opened #225 "Download Contact Us Details as csv file"
Download All data which is collected by Contact Us form as csv file it can be used further for sending them emails or any necessary info

[2021-05-10 07:27] ShrutiKhatri826 commented on #206
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 09:26] hariramjp777 opened #227 "Sticky Header"
I'd like to make the header (navbar) stick at the top.

I'd like to work on this issue under `gssoc21`. PLease assign this issue to me @harshita2216

[2021-05-10 14:37] #223 closed

[2021-05-10 18:06] hariramjp777 opened #230 "Restore Light/Dark Theme (Fix settings issue)"
I'd like to restore Light/dark theme feature by fixing the small issue in `settings.py`

[2021-05-11 05:21] #230 closed

[2021-05-11 05:34] hariramjp777 opened #232 "Profile Picture Feature"
### Feature request-
I'd like to implement the profile feature which allows the user to add a profile picture to their account.

I'd like to work on this issue under ` gssoc21 `. Please assign this to me @harshita2216

[2021-05-11 08:20] SamikshaSankar opened #233 "Navbar(the colour and sticky effect)"
1. The colour of navbar should be different(lighter than home colour) It means when we scroll navbar will be visible clearly.
2. Navbar should be sticky(means when we Scroll down then we see the sticky effect.)

[2021-05-11 09:01] subhangi2731 commented on #3
@amanjha8100 can u assign this issue to me?

[2021-05-11 10:06] subhangi2731 commented on #3
@chiraag-kakar please assign me the issue

[2021-05-11 13:20] arpit456jain opened #234 "Back to Top Feature"
I would like to add Back to Top Feature it will be a arrow pointing upwards and on clicking on this arrow user will go to top

[2021-05-11 13:22] arpit456jain opened #235 "Password Reset Feature"
Password Reset Feature

[2021-05-11 13:30] arpit456jain opened #236 "Title is same for every page"
On Every page the title is Share N Learn it should be related to the page like on login page title should be

Share N Learn Login or only Login

[2021-05-11 14:44] #224 closed

[2021-05-11 17:00] Shivangi-ch commented on #195
@harshita2216 should I start working on this.?

[2021-05-11 18:04] hariramjp777 opened #240 "UI Enhancements for Admin Page"
### Feature request-
I'd to improve the UI of the Admin Page and add functionality for the staff to accept/reject notes.

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-11 18:23] harshita2216 commented on #235
We will reopen this issue when needed. @arpit456jain

[2021-05-11 18:26] harshita2216 commented on #219
I think the UI is okay at the moment. We are currently looking for people to work on some backend issues.

[2021-05-11 18:26] #219 closed

[2021-05-11 18:28] #198 closed

[2021-05-11 18:41] harshita2216 commented on #197
How are you going to do it? @Shivangi-ch

[2021-05-12 16:19] AVS18 opened #241 "404 Not Found Page"
### Feature request-
I wish to have a page that could show 404 errors in our project. The UI should match the current designs.

### Is your feature request related to a problem? Please describe. (optional)
Whenever a user tries to make an invalid request, instead of default 404 we will show this.

### Describe the solution you'd like
A single HTML page using the designs with some interesting anima

[2021-05-12 16:29] #240 closed

[2021-05-12 17:39] hariramjp777 opened #243 "Update Footer"
I'd like to update the footer.
I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-12 17:44] hariramjp777 commented on #241
I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-13 14:43] #243 closed

[2021-05-13 17:30] hariramjp777 opened #245 "Implement search feature (Admin Page)"
### Feature request-
I'd like to implement a search feature on the admin page which allows the staff to filter notes by branch, filetype, title, accepted/rejected.

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-13 17:32] hariramjp777 opened #246 "UI Enhancements for Super Admin Page"
### Feature request-
I'd to improve the UI of the Super Admin Page where Super Admin gives admin/staff functionality to users.

I'd like to work on this issue under `gssoc21`. Please assign this to me.

[2021-05-14 15:02] harshakhmk commented on #68
Can I work on this

[2021-05-14 17:15] #245 closed

[2021-05-15 17:21] harshita2216 opened #249 "Update Logout Confirmation Alert"
The current alert box is using external library. We can do it without using that.

[2021-05-15 17:22] hariramjp777 commented on #249
I'd like to work on this issue. Please assign this to me

[2021-05-15 17:52] #246 closed

[2021-05-16 08:19] SamikshaSankar opened #251 "Adding Top- button"
### Feature request-
Adding scroll top-button

### Is your feature request related to a problem? Please describe. (optional)
No

### Describe the solution you'd like
I want to add Top-Button

### Describe alternatives you've considered
N/A

### Describe how this feature will be useful to our readers.
When user can scroll down by using top-button they can go to home section.
Please assign this task

[2021-05-16 10:50] hariramjp777 opened #252 "Implement Email Authentication"
### Feature request-
I'd like to implement an email authentication page to authenticate the user when signing up

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-16 10:51] hariramjp777 opened #253 "Implement OTP Authentication"
### Feature request-
I'd like to implement an OTP Authentication page for forgot password feature.

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-16 14:13] #249 closed

[2021-05-16 16:45] #197 closed

[2021-05-17 09:22] #253 closed

[2021-05-17 14:47] N-Shar-ma opened #255 "Add a Sign Up button to the Header"
### Feature request-
A Sign Up button should be added beside the Log In button in the header to make onboarding easier for new users.

### Is your feature request related to a problem? Please describe. (optional)
When a new user views the website, there is no direct link to the sign up page which can be confusing and is bad UX

### Describe the solution you'd like
A button like Login in the header

[2021-05-17 15:09] harshita2216 commented on #255
Hey, I think it will be better if you do not put so much space. Let the two buttons be aligned closely.

Also, how will this look in the mobile view?

[2021-05-17 15:19] N-Shar-ma commented on #255
## Mobile View:
![image](https://user-images.githubusercontent.com/68962290/118513196-53d3f600-b6e8-11eb-8215-bb5570a3a2ef.png)

## Desktop View:
![image](https://user-images.githubusercontent.com/68962290/118513306-72d28800-b6e8-11eb-94af-50de0852d571.png)

@harshita2216

[2021-05-17 15:27] harshita2216 commented on #255
Great!

[2021-05-17 16:34] N-Shar-ma commented on #255
Thanks @harshita2216! Should I make pull request for this issue?

[2021-05-18 08:09] hariramjp777 opened #257 "UI for Change Password Page"
### Feature request-
I'd like to add a page where logged in users can change their password by typing their old and new password.

I'd like to work on this issue under ` gssoc21 `. Please assign this issue to me

[2021-05-18 08:27] harshita2216 commented on #255
Yes, sure. Go ahead @N-Shar-ma

[2021-05-18 09:33] #252 closed

[2021-05-18 15:34] #255 closed

[2021-05-18 16:09] hariramjp777 opened #259 "Fix Recaptcha issue"
### **Describe the bug**
I saw that there's an issue with Recaptcha which prevents the user from logging in to the site.

I'd like to work on this issue under ` gssoc21 `. Please assign this issue to me

[2021-05-18 16:41] #259 closed

[2021-05-18 16:49] SamikshaSankar commented on #251
In which html ,css ,js file I have added code...it's confusing me bcz there are more than one html,css, js file..please help me

[2021-05-18 16:52] harshita2216 commented on #251
Please drop a message in the project channel on Discord.

[2021-05-19 03:07] MayankBeck commented on #241
I would like to work on this issue if in any case @hariramjp777 is not able to complete it.

[2021-05-19 09:48] hariramjp777 opened #261 "Issue in Email Authentication"
### **Describe the bug**
There's an issue with email authentication, email is not being sent to the user, getting a message ` Error while sending verification mail `.

I'd like to work on this issue under ` gssoc21 `.

[2021-05-19 11:38] #261 closed

[2021-05-20 05:08] #257 closed

[2021-05-20 09:48] hariramjp777 opened #264 "Implement email authentication for change password"
I'd like to implement email authentication to authenticate users before changing their password.

Please assign this to me to work on this issue under ` gssoc21 `.

[2021-05-20 14:33] #264 closed

[2021-05-20 17:24] hariramjp777 opened #266 "Account Activated/Link Expired UI Page"
### Feature request-
In the email Authentication, the user signs up, he'll get a mail, clicking the link in the mail redirects him to the login page with a message 'activated or not'.

I think instead of the message, we can render a page that says whether email verification is a success or not.

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-20 18:47] #266 closed

[2021-05-21 07:09] hariramjp777 opened #268 "Fix Super User profile page issue"
### **Describe the bug**
Say you're creating a superuser account using `createsuperuser` command and logging in using Django admin login page,
now if you try to access the profile page ` /profile `, there will be an error that says no matching query ` DoesNotExist `.

I'd like to fix this issue under ` gssoc21 `. Please assign this to me.

[2021-05-21 11:15] #268 closed

[2021-05-21 12:07] hariramjp777 opened #270 "Design HTML Email Templates"
### Feature request-
We're sending mail to the user's mail id for authentication. I'd like to design a dynamic email template so that we can send it instead of a plain message.

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-21 18:14] #270 closed

[2021-05-21 18:15] #251 closed

[2021-05-22 13:17] hariramjp777 opened #273 "Fix Contact form"
### **Describe the bug**
The Contact form is there only for logged out users. When users log in, they'll see their respective profile as their home page.
I'd like to make it available for logged in users too.
I'd like to make the contact form ajax so that when the user clicks the button, mail will be sent to the admin.

Please assign this to me to work on this issue under ` gssoc21 `.

[2021-05-22 15:48] #273 closed

[2021-05-22 18:00] tanishq-arya opened #275 "New Banner for README."
### Feature request-
I would like to design a new banner for the readme.

[2021-05-22 18:00] tanishq-arya commented on #275
Please assign me this issue. @harshita2216

[2021-05-22 18:44] chiraag-kakar commented on #275
@tanishq-arya , make sure that the Share N Learn logo is included in the Banner :)

[2021-05-23 06:33] hariramjp777 opened #276 "Password Reset Code and Password Changed HTML Email Templates"
### Feature request-
When the user requests for password change, he'll get mail (email/otp). I'd like to update views sending mail once again after a successful password change and the mail_template file to send an HTML message instead of a plain message.

Please assign this issue to me to work on this issue under ` gssoc21 `.

[2021-05-23 07:04] #276 closed

[2021-05-23 07:07] tanishq-arya commented on #275
@chiraag-kakar Please take a look at this. I kept it simple. Do let me know your thoughts on this.
![image](https://user-images.githubusercontent.com/77333275/119251288-8dfb3700-bbc3-11eb-923e-032a5c763c66.png)

[2021-05-23 12:03] hariramjp777 opened #278 "Implement OTP Authentication in Contact form (when not logged in)"
Contact form is available for both logged in and logged out/new users.

For new users/logged out, we can implement OTP authentication (sending otp to their email address) to contact us.

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-23 12:12] #278 closed

[2021-05-24 07:58] hariramjp777 opened #280 "Contact form HTML Email Templates"
### Feature request-
I'd like to add HTML Email templates for the contact form,

Please assign this issue to me, I'd like to work under ` gssoc21 `

[2021-05-24 09:10] #280 closed

[2021-05-24 12:33] hariramjp777 opened #282 "Using svg instead of icons"
* Font awesome CDN is being used for two icons (top button and password show/hide icon). Instead of using external icons, we can use SVGs that might help the site loading fast.
* Scripts for those features are written inline. I'd like to write that in the main ` scripts.js ` file so that the show/hide password will be available on all forms.

Please assign this to me to work on this issue under `

[2021-05-24 13:08] subhangi2731 commented on #241
@harshita2216 please asign me this I will send pr by tomorrow

[2021-05-24 17:16] harshita2216 commented on #241
Assigned @MayankBeck. If he is unable to do it then I'll assign it to you, @subhangi2731

[2021-05-24 17:17] harshita2216 commented on #241
@MayankBeck, can you please make a PR by 26th?

[2021-05-24 17:24] #282 closed

[2021-05-26 10:27] Kumud-869231165 commented on #3
Can you assign this issue to me! I'm a gssoc participant @chiraag-kakar @amanjha8100

[2021-05-26 10:28] Kumud-869231165 commented on #275
I can design a new banner. Can you assign me this @chiraag-kakar

[2021-05-26 12:12] hariramjp777 opened #284 "Fix UI issues"
### **Describe the bug**

If one clicks the form button, an invalid field should be focused.
Here's a gif showing that the field is not being focused because of the sticky header.

![loading_ui_issue](https://user-images.githubusercontent.com/58631762/119657538-ac726400-be49-11eb-9edd-c48f5be89383.gif)

I'd like to fix this issue and also some dropdown issues (on staff admin page)

[2021-05-26 16:49] #284 closed

[2021-05-27 07:05] harshita2319 commented on #275
Hey, I'm a GSSOC participant and I'd like to work on this issue @harshita2216

[2021-05-27 07:08] harshita2216 commented on #275
@Kumud-869231165 and @harshita2216 share your designs on discord channel.

[2021-05-27 07:09] harshita2216 commented on #241
@subhangi2731 you can proceed with this issue.

[2021-05-27 07:23] tanishq-arya commented on #275
@chiraag-kakar How is this ?
![](https://cdn.discordapp.com/attachments/822032957010346045/847139448759910450/Banner_design.jpg)

[2021-05-27 07:41] tanishq-arya opened #287 "Bug: README"
### **Describe the bug**

[code]
**runserver is a single word**

[2021-05-27 11:29] harshita2319 commented on #275
Okay

[2021-05-27 13:29] hariramjp777 opened #289 "Add chatbot"
* Add Dialogflow Chatbot at the footer of the website.

I'd like to work on this feature under ` gssoc21 `. Please assign this to me

[2021-05-27 14:13] harshita2216 commented on #275
Yes sure you can do.

[2021-05-27 18:58] #289 closed

[2021-05-28 08:54] harshita2216 opened #291 "Chatbot Updates"
1. Adding few more questions.
2. Walkthrough option that shows the workflow of the website.
3. Give a name to the Share N Learn bot.
4. Improve UI
5. If the query is not listed, the reply should add the query/question by mailing us through the contact page (add a link to contact).
6. Other features except the ones listed above.

[2021-05-28 08:56] hariramjp777 commented on #291
I'd like to work on this issue.

[2021-05-28 16:33] #275 closed

[2021-05-28 16:33] #287 closed

[2021-05-28 17:56] Ajithtech75 commented on #241
Can i work with this issue ??

[2021-05-29 16:50] hariramjp777 opened #293 "Update Readme"
I'd like to update readme with
* New Banner
* Improve spacing

[2021-05-30 05:24] #293 closed

[2021-05-30 13:19] kumarishalini6 opened #295 "improving forms"
### Feature request-
I want to improve login, sign in and contact us form by giving some border radius hover effect .
can i work on this issue under GSSoC'21.

[2021-05-30 13:20] kumarishalini6 commented on #295
![Share N Learn - Personal - Microsoft​ Edge 5_30_2021 06_48_57 PM](https://user-images.githubusercontent.com/69043944/120105728-b07eda00-c106-11eb-9f47-90dcf1b05b48.png)

[2021-05-30 13:24] kumarishalini6 opened #296 "Social media icons at home page"
### Feature request-
I want to add social media at the home page with some style and hover effect.
can i work on this issue under GSSoC'21.

[2021-05-30 13:26] kumarishalini6 commented on #296
![Share N Learn - Personal - Microsoft​ Edge 5_30_2021 06_54_59 PM](https://user-images.githubusercontent.com/69043944/120105967-9db8d500-c107-11eb-8edf-11d16294f87a.png)

[2021-05-30 16:32] #296 closed

[2021-05-31 05:16] hariramjp777 opened #297 "Enhance UI"
I'd like to enhance the UI of the Uploads Page.

* Current uploads page is card-like. I'd like to change it back to the table-like
* Make it responsive.
* Add Filters Functionality and view profile photo of the user who uploaded the notes.

I'd like to do this under ` gssoc21 `

[2021-05-31 06:46] #297 closed

[2021-05-31 08:40] hariramjp777 opened #299 "Add Page to view uploaded note."
I'd like to add a page to view uploaded note.

Here's a Figma design,

![view-more](https://user-images.githubusercontent.com/58631762/120166140-ea8cd080-c219-11eb-8207-6a441fa287c8.png)

I'd like to work on this issue under ` gssoc21 `. Please assign this to me.

[2021-05-31 10:00] #299 closed

[2021-05-31 10:28] harshakhmk opened #301 "Edit profile with django forms"
### Feature request-
```Edit profile``` view can be handled by using  Django forms which handles request data better

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
I would like to work on this view so that edit_profile handles data payload through forms thereby minimized co

[2021-05-31 15:34] hariramjp777 opened #302 "Reactions Feature (Like/Dislike)"
I'd like to implement the Reactions Feature (Like/Dislike the notes)

Please assign this issue to me to work on this issue under ` gssoc21 `.

[2021-05-31 15:56] #302 closed

[2021-05-31 17:19] hariramjp777 opened #304 "Update scrollbar"
### Feature request-
* To update scrollbar for dark-theme
* To update scrollbar for filter dropdowns (for dark/light theme)

I'd like to work on this issue under ` gssoc21 `. Please assign this to me

[2021-05-31 17:56] #304 closed

[2021-05-31 18:04] hariramjp777 opened #306 "Delete Functionality for uploaded note"
### Feature request-

I'd like to implement delete functionality for uploaded note. Users will get the delete button in the note page if it is uploaded by them, would like to do this under ` gssoc21 `.

[2021-05-31 18:17] #306 closed

[2021-05-31 18:18] #301 closed

[2021-05-31 18:18] #295 closed

[2021-09-11 03:57] keder-code-hash commented on #68
Can you be more specific ? Like here you are doing joining operation to generate the whole user data on signup_id with base User table provided by django,so according to your question is your requirement to put the whole thing into **SignUp** table  by extending the base user model?